* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(180deg, #ff9a9e, #fad0c4);
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    margin-top: 150px;
    background-color: white;
    border: 2px solid #ff6b6b;
    border-radius: 15px;
    width: 90%;
    max-width: 400px;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.login-container h1 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #ff6b6b;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 1rem;
}

.login-container input:focus {
    outline: none;
    border-color: #ff6b6b;
    box-shadow: 0 0 5px rgba(255, 107, 107, 0.8);
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #ff6b6b;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    transition: all 0.3s ease;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #ff4c4c;
    transform: scale(1.05);
}

.error-list {
    color: red;
    font-size: 0.9rem;
    margin-bottom: 10px;
    text-align: left;
}

@media (max-width: 480px) {
    .login-container {
        padding: 15px;
        margin-left: 20px;
    }


    .login-container h1 {
        font-size: 1.5rem;
    }

    .login-container input, 
    .login-container button {
        font-size: 0.9rem;
    }
}